body, html {
  height: 100%;
  background-color: rgba(0,0,0,.018);
  color: rgba(0,0,0,.75);
  font-family: 'Nunito';
  align-items: center;
}

.blogListElement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid black;
  text-align: left;
}

.blogTitle{
  width: 40%;
  color: darkcyan;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  
}

.blogAuthor{
  color: black;
  font-weight: normal;
}

.blogContent{
  width: 60%;
  text-align: left
}

ul {
  list-style: none;
}

.blog-form-div{
  margin: 10px 20px 20px 20px;
}

.input-details{
  margin: 1% 2%;
  padding: 5px;
  width: 40%;
  background-color: azure;
}

.textArea-height{
  height: 200px;
}

.btn-blog-submit{
  position: relative;
  float: right;
  background-color: darkgreen;
  width: 140px;
  height: 40px;
  font-size: 30px;
}